# FINAL PROJECT: MONTE DO CASARAO (3)

In this notebook I do the following:
 - Build a model that predicts revenue for 2024 and 2025

### Read libraries

In [1]:
import pandas as pd
import numpy as np

### Load dataset

In [2]:
# I use just the bookings dataframe
bookings_cleaned_merged = pd.read_csv('bookings_cleaned_merged.csv')

pd.set_option('display.max_columns', None)
bookings_cleaned_merged

,client_id,ndc,lottery_winner,book_date,cottage,arrival,departure,days,weeks,extra_days,persons,total_days_person,season,nights_w,dayprice_w,weekprice_w,nights_d,dayprice_d,painting_week,discount,discount_euro,early_booking_discount,cottage_total,extra_bed,cleaning,phone,internet,other_charges,final_total,date_deposit_25_perct,deposit_25_perct,date_rest,rest_75_perct,arrival_week_day,departure_week_day,group_type,last_name,first_names,travel_agency,city,country
0,1,0.0,0.0,2007-08-01,Casa Boa,2007-09-04,2007-09-18,14.0,0.0,0.0,2.0,28.0,high,14.0,85.000000,595.0,0.0,0.0,0.0,0.0,25.0,0.0,1165.0,0.0,0.0,0.0,0.0,0.0,1165.0,2000-01-01,0.00,2007-08-01,1165.00,1.0,1.0,mr and mrs,Heuzer,Andr√© en Maureen,No,ALMERE,NETHERLANDS
1,2,0.0,0.0,2007-08-02,Casa Valorosa,2007-08-31,2007-09-07,7.0,0.0,0.0,4.0,28.0,high,7.0,85.000000,595.0,0.0,0.0,0.0,0.0,145.0,0.0,450.0,0.0,0.0,0.0,0.0,0.0,450.0,2000-01-01,0.00,2007-08-02,450.00,4.0,4.0,Unknown,Man,M. de,No,CAPELLE AAN DEN IJSSEL,NETHERLANDS
2,3,0.0,0.0,2007-08-16,Casa Basta,2007-08-16,2007-08-25,9.0,0.0,0.0,3.0,27.0,high,9.0,85.000000,595.0,0.0,0.0,0.0,0.0,72.5,0.0,692.5,0.0,0.0,0.0,0.0,0.0,692.5,2000-01-01,0.00,2007-08-16,692.50,3.0,5.0,Unknown,Burnay,M.,No,LISBOA,PORTUGAL
3,4,0.0,0.0,2008-01-25,Casa Marcanta,2008-03-15,2008-03-22,7.0,0.0,0.0,2.0,14.0,mid,7.0,77.142857,540.0,0.0,0.0,0.0,0.0,81.0,0.0,459.0,0.0,0.0,0.0,0.0,0.0,459.0,2008-01-25,114.75,2008-03-04,344.25,5.0,5.0,mr and mrs,Wesdorp,Henk en Elly,No,ERMELO,NETHERLANDS
4,5,0.0,0.0,2008-01-25,Casa Marcanta,2008-04-25,2008-05-05,10.0,0.0,0.0,2.0,20.0,mid,7.0,77.142857,540.0,3.0,75.0,0.0,0.0,0.0,0.0,765.0,0.0,0.0,0.0,0.0,0.0,765.0,2008-01-25,191.25,2008-03-25,573.75,4.0,0.0,mr and mrs,Godefroy,M. en J.,No,HEEMSTEDE,NETHERLANDS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,686,0.0,0.0,2023-10-16,Casa Basta,2024-10-26,2024-11-02,7.0,0.0,7.0,3.0,21.0,mid/low,0.0,0.000000,0.0,0.0,172.0,0.0,0.0,56.0,0.0,1148.0,0.0,60.0,0.0,0.0,0.0,1208.0,2023-10-16,302.00,2024-09-28,906.00,5.0,5.0,Unknown,Veenendaal,Marjolein,No,AMSTERDAM,NETHERLANDS
966,687,0.0,0.0,2023-10-27,Casa Boa,2024-03-01,2024-03-10,9.0,8.0,1.0,2.0,18.0,mid,0.0,0.000000,90.0,0.0,127.0,0.0,0.0,38.0,0.0,809.0,0.0,70.0,0.0,0.0,0.0,879.0,2023-10-27,219.75,2024-02-02,659.25,4.0,6.0,Unknown,Duijnstee,Mia,No,UTRECHT,NETHERLANDS
967,688,0.0,0.0,2023-10-28,Casa Boa,2024-05-13,2024-05-20,7.0,0.0,7.0,2.0,14.0,mid,0.0,0.000000,0.0,0.0,127.0,0.0,0.0,42.0,0.0,847.0,0.0,70.0,0.0,0.0,0.0,917.0,2023-10-28,229.25,2024-04-15,687.75,0.0,0.0,Unknown,Korrelboom,Jeanine,No,ALMERE,NETHERLANDS
968,689,0.0,0.0,2023-12-02,Casa Boa,2023-12-08,2023-12-15,7.0,0.0,7.0,2.0,14.0,low,0.0,0.000000,0.0,0.0,77.4,0.0,0.0,77.4,0.0,464.4,0.0,60.0,0.0,0.0,0.0,524.4,2023-12-02,262.20,2024-01-07,262.20,4.0,4.0,Unknown,Sunweb Group GmbH (Buskermolen ),Unknown,EWH,Z√úRICH,SWITZERLAND
969,600,0.0,0.0,2023-11-05,Casa Boa,2024-01-11,2024-02-01,21.0,0.0,21.0,2.0,42.0,low,0.0,0.000000,0.0,0.0,90.0,0.0,0.0,84.0,0.0,1806.0,0.0,70.0,0.0,0.0,0.0,1876.0,2023-11-05,469.00,2023-12-14,1407.00,3.0,3.0,Unknown,Boer,Dick de,No,CASTRICUM,NETHERLANDS

### extract year from the arrival column

In [3]:
def extract_year(x):
    return x[:4]

In [4]:
bookings_cleaned_merged['arrival_year'] = bookings_cleaned_merged['arrival'].apply(extract_year)

In [5]:
bookings_cleaned_merged['arrival_year']

0      2007
1      2007
2      2007
3      2008
4      2008
       ...
965    2024
966    2024
967    2024
968    2023
969    2024
Name: arrival_year, Length: 970, dtype: object

### aggregate final_total by year

In [6]:
revenue_year = bookings_cleaned_merged.groupby(['arrival_year']).agg({'final_total':sum})

In [7]:
revenue_year

               final_total
arrival_year
2000           1263.500000
2007           2307.500000
2008          29671.480000
2009          32379.400000
2010          40758.817143
2011          39826.750000
2012          51719.900000
2013          67971.211429
2014          48676.164143
2015          57314.360000
2016          83907.550000
2017          87327.750000
2018          95769.300000
2019          75117.560000
2020          59165.400000
2021          50037.800000
2022          70747.750000
2023          64434.300000
2024           7825.200000

In [8]:
revenue_year = revenue_year.reset_index()

In [9]:
revenue_year

   arrival_year   final_total
0          2000   1263.500000
1          2007   2307.500000
2          2008  29671.480000
3          2009  32379.400000
4          2010  40758.817143
5          2011  39826.750000
6          2012  51719.900000
7          2013  67971.211429
8          2014  48676.164143
9          2015  57314.360000
10         2016  83907.550000
11         2017  87327.750000
12         2018  95769.300000
13         2019  75117.560000
14         2020  59165.400000
15         2021  50037.800000
16         2022  70747.750000
17         2023  64434.300000
18         2024   7825.200000

In [10]:
# drop the first, second and last rows
revenue_year = revenue_year.drop([0, 1, 18], axis=0).reset_index(drop=True)

In [11]:
revenue_year

   arrival_year   final_total
0          2008  29671.480000
1          2009  32379.400000
2          2010  40758.817143
3          2011  39826.750000
4          2012  51719.900000
5          2013  67971.211429
6          2014  48676.164143
7          2015  57314.360000
8          2016  83907.550000
9          2017  87327.750000
10         2018  95769.300000
11         2019  75117.560000
12         2020  59165.400000
13         2021  50037.800000
14         2022  70747.750000
15         2023  64434.300000

### X-y split

In [12]:
X = revenue_year['arrival_year']
y = revenue_year['final_total']

In [15]:
# Convert to array
X = X.values
y = y.values

# Reshape the array into a 2D array with one column
X = X.reshape(-1, 1)
y = y.reshape(-1, 1)

### Fit the model

In [16]:
from sklearn import linear_model
lm = linear_model.LinearRegression()
lm.fit(X,y)

LinearRegression()

In [19]:
# make a np array with the desired year to predict
to_predict = np.array([2024, 2025])

# Reshape the 1D array into a 2D array with one column
to_predict = to_predict.reshape(-1, 1)

In [20]:
pred = lm.predict(to_predict)

In [21]:
pred

array([[81447.46231786],
       [84008.74102647]])

These are the predictions for 2024 and 2025